*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#eef7ef;
    color:#222;
}

header{
    background:#0b5d3b;
    color:white;
    padding:25px;
    text-align:center;
}

nav{
    background:#08462d;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:#ffd700;
}

main{
    max-width:1100px;
    margin:auto;
    padding:30px;
}

.card{
    background:white;
    padding:25px;
    margin-bottom:25px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,.1);
}

footer{
    background:#0b5d3b;
    color:white;
    text-align:center;
    padding:20px;
}
